:root {
  --primary-color: #5e40e0;
  --secondary-color: #98ffed;
  --tertiary-color: #dfdfff;
  --accent-color: #f1f1f1;
  --border-radius: 28px;
  --transition: all 0.3s ease;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    150deg,
    var(--tertiary-color) 20%,
    var(--accent-color) 40%,
    var(--accent-color) 70%
  );
}
/*nav bar*/
header {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: rgba(255, 255, 255, 0.95);
  width: min(1100px, 90%);
  text-align: center;
  margin: auto;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
  z-index: 500;
}
header p {
  font-family: sans-serif;
  color: #4f46e5;
  font-weight: 600;
  font-size: 24px;
}
header p .nav-highlight {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}
/*nav bar */
header nav {
  position: relative;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: #64748b;
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 4px;
  transition: var(--transition);
}
/*link active*/
.nav-active {
  color: #4f46e5;
}

header nav ul li a:hover {
  color: #4f46e5;
}
.indicator {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  border-radius: 5px;
  background: #4f46e5;
  transition: var(--transition);
}
/*header button*/
header button {
  padding: 8px 16px;
  background-color: #7156f5;
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition);
}
header button:hover {
  transform: scale(1.02) translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header button:active {
  transform: scale(0.98) translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*toggle button*/
header .menu-toggle {
  display: block;
  width: 32px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 10px;
}

header .menu-toggle span {
  display: block;
  width: 100%;
  margin-bottom: 7px;
  height: 4px;
  background: #4f46e5;
  border-radius: 5px;
  transition: 0.3s ease;
}
/*to show menu*/
.active {
  display: flex;
  max-height: 500px;
  padding: 20px;
}
/*animation when open*/
.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/*hero section*/
#home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 96px 0;
  gap: 10px;
}
/*hero info*/
.hero_info {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;
  gap: 65px;
}

.hero_info .hero-text .info span {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  background: #eaeafd;
  width: fit-content;
  border-radius: 20px;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 700;
  font-family: "manrope", sans-serif;
}
.hero_info .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.hero_info .hero-text h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "manrope", sans-serif;
  color: var(--primary-color);
}
.hero_info .hero-text h1 {
  font-family: "roboto slab", serif;
  font-size: 90px;
  color: #2d3337;
  line-height: 1;
}
.header-scound {
  font-family: sans-serif;
}

.hero_info .hero-text h1 .header-spe {
  color: var(--primary-color);
}
.hero_info .hero-text p {
  font-size: 20px;
  font-family: sans-serif;
  color: #5a6064;
  line-height: 25px;
  width: 75%;
}
/*hero button*/
.hero_info .hero-btn {
  display: flex;
  gap: 20px;
}
.hero_info .hero-btn button {
  font-family: sans-serif;
  padding: 18px 32px;
  background-color: var(--primary-color);
  color: #fcf7ff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: var(--transition);
}
.hero_info .hero-btn .vw-btn i {
  margin-left: 8px;
  font-size: 20px;
}
.hero_info .hero-btn .cm-btn {
  background-color: #e4e9ec;
  color: #2d3337;
}

.hero_info .hero-btn .vw-btn:hover {
  transform: scale(1.02) translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero_info .hero-btn .vw-btn:hover i {
  animation: clickme 0.5s ease-in-out infinite;
}
.hero_info .hero-btn .vw-btn:active {
  transform: scale(0.98) translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.hero_info .hero-btn .cm-btn:hover {
  transform: scale(1.02) translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero_info .hero-btn .cm-btn:active {
  transform: scale(0.98) translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*hero image*/
.image {
  width: 60%;
  position: relative;
  z-index: 1;
}
.image .hero-img {
  text-align: center;
}
.image .hero-img img {
  width: 380px;
  height: 521px;
  overflow: hidden;
  border-radius: 60px;
  transform: rotate(3deg);
}
/*circle*/
.image::after {
  content: "";
  width: 110px;
  height: 110px;
  border: 4px solid rgb(94, 64, 224, 0.2);
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 140px;
  z-index: -1;
}
/*rectangle*/
.image::before {
  content: "";
  width: 240px;
  height: 240px;
  background: rgb(142 245 227 / 0.8);
  border-radius: 30px;
  transform: rotate(-5deg);
  position: absolute;
  bottom: -20px;
  left: 60px;
  z-index: -1;
  clip-path: circle(90%);
}
/*project-head*/
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 96px 0;
  background: #f1f4f7;
  color: #2d3337;
  border-radius: 3rem 3rem 0 0;
}
.project-main {
  width: 80%;
}
/*project head*/
.project-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 0 0 64px;
}

.head-title span {
  font-family: "manrope", sans-serif;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.head-title h2 {
  font-family: sans-serif;
  font-size: 48px;
  margin: 8px 0 0;
  color: #2d3337;
  line-height: 1;
}
.project-head p {
  font-family: sans-serif;
  font-size: 16px;
  color: #5a6064;
  line-height: 25px;
  width: 37%;
  height: fit-content;
}
/*projects-btns*/
.projects-btns {
  display: flex;
  gap: 15px;
  margin: 20px 0 64px;
  transition: all 0.3s ease;
}

.projects-btns button {
  padding: 12px 32px;
  background-color: #dee3e7;
  color: #5a6064;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: var(--transition);
  line-height: 20px;
  font-family: "Manrope";
}
.btn-active {
  background-color: var(--primary-color) !important ;
  color: #fcf7ff !important;
}

.projects-btns button:hover {
  color: var(--primary-color);
  background-color: rgb(94, 64, 224, 0.1);
}
/*toggleButton*/
#toggleButton {
  padding: 12px 32px;
  display: none;
  background-color: var(--primary-color) !important ;
  color: #fcf7ff !important;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  transition: var(--transition);
  line-height: 20px;
  font-family: "Manrope";
  width: 100%;
}
#toggleButton i {
  transition: all 0.3s ease;
}
#toggleButton:hover {
  transform: scale(1.02);
}
#toggleButton:active {
  transform: scale(0.95);
}
.toggleactive {
  max-height: 250px !important;
  opacity: 1 !important;
}
.toggleButtonOpen {
  transform: rotate(180deg);
}

/*projects-content*/
.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: start;

  gap: 20px;
}
/*project card*/
.project-card {
  padding: 24px;
  color: #2d3337;
  border-radius: var(--border-radius);
  background: #ffffff;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 0;
}
/*card image*/
.card-img {
  margin: 0 0 24px;
  border-radius: 1.5rem;
  overflow: hidden;
  height: 208px;
  width: 100%;
  border: none;
}
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.project-card:hover {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}
.project-card:hover img {
  transform: scale(1.03);
}
/*card span*/
.card-info {
  font-family: sans-serif;
  display: flex;
  justify-content: start;
  gap: 12px;
  margin: 0 0 16px;
}
.card-info span {
  font-size: 10px;
  color: #525464;
  font-weight: 700;
  background: #e6e6fa;
  padding: 0.25rem 0.75rem;
  border-radius: 25px;
  line-height: 15px;
}
/*active span*/
.span-act {
  background: #8ef5e3 !important;
  color: #005c52 !important;
}
/*project card title*/
.project-card h3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  color: #2d3337;
  margin: 0 0 8px;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 2px;
}
/*project card description*/
.project-card p {
  margin: 0 0 38px;
  font-family: sans-serif;
  font-size: 14px;
  color: #5a6064;
  line-height: 24px;
}
.project-card a {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  transition: var(--transition);
  cursor: pointer;
}
.project-card a:hover {
  gap: 10px;
}
/*model or new tab to show details */

/*Skills section*/
#skills {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 96px 0;
}
.skills-main {
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.skills-main .skill-info {
  font-size: 14px;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "manrope", sans-serif;
}
.skills-main h2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  color: #2d3337;
  margin: 8px 0 64px;
}
.skills-main .skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.skills-main .skills-content .skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 0.75rem;
  color: #2d3337;
  background-color: #ffffff;
  padding: 16px 32px;
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  cursor: default;
}
.skills-main .skills-content .skill-item p {
  color: #2d3337;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "manrope", sans-serif;
}

.skills-main .skills-content .skill-item .html-icon {
  color: #f97316;
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
}
.skills-main .skills-content .skill-item .css-icon {
  color: #3b82f6;
  font-size: 10px;
  font-weight: 900;
  line-height: 1.2;
}
.skills-main .skills-content .skill-item .js-icon {
  color: #eab308;
  font-size: 10px;
  font-weight: 900;
  line-height: 1.2;
}
.skills-main .skills-content .skill-item .react-icon {
  color: #22d3ee;
  font-size: 19px;
  font-weight: 900;
  line-height: 1.3;
}
.skills-main .skills-content .skill-item .git-icon {
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.2;
}
.skills-main .skills-content .skill-item .sql-icon {
  color: #2563eb;
  font-size: 17px;
  font-weight: 900;
  line-height: 1.2;
}

.skills-main .skills-content .skill-item:hover {
  transform: scale(1.1);
}
/*services section*/
#services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  background: #f1f4f7;
  color: #2d3337;
  font-size: 16px;
  border-radius: 3rem 3rem 0 0;
}
.services-main {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 0 24px;
}
.services-main .services-text {
  text-align: center;
  width: 100%;
  font-family: "manrope", sans-serif;
}
.services-main .services-text span {
  font-size: 14px;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.services-main .services-text h2 {
  font-size: 48px;
  color: #2d3337;
  font-weight: 700;
  line-height: 48px;
  margin-top: 8px;
}
.services-main .services-text p {
  font-size: 16px;
  color: #5a6064;
  max-width: 55%;
  font-weight: 500;
  margin-top: 16px;
  margin: 1rem auto 0;
}
.services-main .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;
  gap: 20px;
  width: 100%;
}
.services-main .services-content .service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  transition: all 0.15s ease;
  border: 1px solid transparent;
}
.services-main .services-content .service-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(94, 64, 224, 0.4);
}
.services-main .services-content .service-item:hover i {
  transform: scale(1.05);
}
.services-main .services-content .service-item i {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  background: #e6e6fa;
  margin-bottom: 24px;
  transition: all 0.15s ease;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.services-main .services-content .service-item h3 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #2d3337;
  margin: 0 0 12px;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}
.services-main .services-content .service-item p {
  font-family: "manrope", sans-serif;
  font-size: 14px;
  color: #5a6064;
  margin: 0;
  line-height: 1.5;
  text-align: center;
}
/*about section*/
#about {
  padding: 6rem 0;
  width: 100%;
}
.about-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
/*about image*/
.about-main .about-image {
  width: 110%;
}
.about-main .about-image .image-content {
  position: relative;
  z-index: -1;
}
.about-main .about-image .image-content::after {
  content: "";
  width: 160px;
  height: 160px;
  background: #e6e6fa;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -1;
  clip-path: circle(50%);
}
.about-main .about-image .image-content img {
  width: 100%;
  border-radius: 4rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}
/*about image*/
.about-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: sans-serif;
}
.about-info span {
  font-size: 14px;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: "manrope", sans-serif;
}
.about-info h2 {
  font-size: 48px;
  color: #2d3337;
  font-family: "manrope", sans-serif;
  font-weight: 700;
  line-height: 48px;
}
.about-info p {
  font-size: 18px;
  color: #5a6064;
  line-height: 30px;
}
.about-info .about-number {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  line-height: 24px;
}
.about-info .about-number div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.about-info .about-number div .clints {
  font-size: 30px;
  color: var(--primary-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  line-height: 2.25rem;
}
.about-info .about-number div .clints::after {
  content: "+";
  font-size: 30px;
  color: var(--primary-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}
.about-info .about-number div .persent {
  font-size: 30px;
  color: #006b60;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  line-height: 2.25rem;
}
.about-info .about-number div p {
  color: #5a6064;
  font-size: 14px;
  font-weight: 500;
  font-family: "manrope", sans-serif;
  line-height: 1.25rem;
  margin-top: 4px;
}
.about-info .text-spy {
  font-size: 18px;
  color: #5a6064;
  font-style: italic;
  line-height: 29px;
  margin: 32px 0 0;
}
/*contact section*/
#contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}
.contact-main {
  width: 56%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-main .content-text {
  text-align: center;
  margin-bottom: 64px;
}
.contact-main .content-text span {
  font-size: 14px;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-family: "manrope", sans-serif;
  text-transform: uppercase;
}
.contact-main .content-text h2 {
  color: #2d3337;
  font-family: "manrope", sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin: 8px 0 0;
}
.contact-main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.contact-main form .clint-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
}
.contact-main form .clint-info div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact-main form label {
  font-size: 14px;
  color: #2d3337;
  font-weight: 700;
  margin-left: 16px;
  font-family: "manrope", sans-serif;
  line-height: 20px;
}
.contact-main form .clint-info div input,
.contact-main form .message textarea {
  padding: 16px 24px;
  border: none;
  cursor: text;
  display: inline-block;
  font-weight: 400;
  border-radius: 32px;
  font-size: 16px;
  color: #2d3337;
  background-color: #e4e7eb;
  line-height: 24px;
  transition: var(--transition);
  outline: 2px solid transparent;
  resize: none;
  font-family: "manrope", sans-serif;
}
.contact-main form .clint-info div input:focus,
.contact-main form .message textarea:focus {
  outline: 2px solid rgb(94, 64, 224, 0.3);
}
.contact-main form .message {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-size: 16px;
  color: #2d3337;
}
.contact-main form button {
  color: #fcf7ff;
  background-color: var(--primary-color);
  padding: 16px 0px;
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  font-family: "manrope", sans-serif;
  line-height: 24px;
  transition: all 0.15s ease;
}
.contact-main form button i {
  margin-left: 4px;
  transition: all 0.3s ease;
}
.contact-main form button:hover {
  transform: scale(1.02) translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-main form button:hover i {
  animation: clickme 0.5s ease-in-out infinite;
}
.contact-main form button:active {
  transform: scale(0.98) translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-main form button:active i {
  animation: none;
}
/*footer*/
footer {
  width: 100%;
  padding: 80px 48px;
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  font-size: 14px;
  color: #94a3b8;
  border-radius: 48px 48px 0 0;
  line-height: 1.25rem;
}
footer .footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px 0;
}
footer .footer-text h3 {
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
footer .footer-text p {
  font-family: "manrope", sans-serif;
  color: #94a3b8;
  font-size: 14px;
}
footer .footer-social {
  display: flex;
  justify-content: center;
  gap: 32px;
}
footer .footer-social a {
  color: #94a3b8;
  font-size: 20px;
  padding: 12px 15px;
  transition: var(--transition);
  border-radius: 50%;
  font-weight: 500;
  text-align: center;
}
footer .footer-social a:hover {
  color: #0f172a;
  background-color: #94a3b8;
}
footer .top-arrow {
  background: #ffffff1a;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 24px;
  transition: all 0.15s;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  font-family: "roboto slab", serif;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 16px;
  text-decoration: uppercase;
}
footer .top-arrow i {
  margin-left: 8px;
  transition: all 0.3s ease;
  transform: translateY(1px);
}
footer .top-arrow:hover {
  background: rgb(255, 255, 255, 0.15);
}
footer .top-arrow:hover i {
  transform: translateY(-3px);
}
/*filter buttons*/
.hide {
  display: none;
}
/*animation*/
@keyframes clickme {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 80px 40px 0;
  }

  .hero_info {
    width: 100%;
  }

  .hero_info .hero-text h1 {
    font-size: 64px;
  }

  .hero_info .hero-text p {
    width: 100%;
    font-size: 18px;
  }

  .image {
    width: 50%;
  }

  .image .hero-img img {
    width: 320px;
    height: auto;
  }

  .project-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .project-head p {
    width: 100%;
  }

  .skills-main .skills-content {
    flex-wrap: wrap;
  }

  .about-main {
    flex-direction: column;
  }

  .contact-main {
    width: 80%;
  }
}

@media (max-width: 860px) {
  header {
    width: 92%;
    padding: 10px 16px;
  }
  header nav {
    overflow: hidden;
  }
  header nav ul {
    gap: 15px;

    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    position: fixed;
    top: 70px;
    right: 10px;
    background: rgba(255, 255, 255, 0.85);
    padding: 0 20px;
    border-radius: 15px;
    z-index: 999;
    transition:
      max-height 0.5s ease,
      padding 0.5s ease;
  }
  header .menu-toggle {
    display: block;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 120px 20px 40px;
  }

  .hero_info {
    align-items: center;
    padding-left: 0;
    gap: 32px;
  }

  .hero_info .hero-text h1 {
    font-size: 48px;
  }

  .hero_info .hero-text p {
    font-size: 16px;
  }

  .hero_info .hero-btn {
    flex-direction: column;
    width: 100%;
  }

  .hero_info .hero-btn button {
    width: 100%;
  }

  .image {
    width: 100%;
    margin-top: 40px;
  }

  .image .hero-img img {
    width: 340px;
  }

  .projects-btns {
    flex-wrap: wrap;
  }

  .projects-content {
    grid-template-columns: 1fr;
  }
  .projects-content .card-img {
    height: 320px;
  }

  .services-main .services-text p {
    max-width: 100%;
  }

  .contact-main {
    width: 95%;
  }

  .contact-main form .clint-info {
    grid-template-columns: 1fr;
  }

  footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

@media (max-width: 594px) {
  header p {
    font-size: 18px;
  }

  .hero_info .hero-text h1 {
    font-size: 38px;
  }

  .hero_info .hero-text p {
    font-size: 14px;
  }

.project-main {
  width: 95%;
}
  .projects-btns {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }

  #toggleButton {
    display: block;
  }

  .projects-btns button {
    width: 100%;
  }

  .projects-content .card-img {
    height: 200px;
  }

  .project-card h3 {
    font-size: 20px;
  }

  .skills-main h2 {
    font-size: 28px;
  }

  .about-info h2 {
    font-size: 32px;
  }

.services-main{
  padding: 0;
}

  .services-main .services-text h2 {
    font-size: 32px;
  }

.about-section{
  width: 85%;
}
.about-main .about-image .image-content::after{
  width: 120px;
  height: 120px;
  top: -40px;
  right: -10px;
}

  #contact{
    padding: 48px 0;
  }

  .contact-main .content-text h2 {
    font-size: 32px;
  }

  footer{
    margin-top: 48px;
  }
}
